@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Lora&display=swap');

@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";

$white: #fefefe;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 12,
);

$font-family-base: 'Lora', serif;

$headings-font-family: 'Inconsolata', monospace;

$box-shadow: rgba(0, 0, 0, 0.1);

.hero {
  display: flex;
  min-height: 95vh;
  background: #111017;
  color: #fefefe;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2em;
    overflow: hidden;
    white-space: nowrap;
    border-right: 16px solid rgba(255, 255, 255, 0.75);
    animation: typewriter 2s steps(20, end) 1s 1 normal both,
      cursor 800ms steps(1, end) infinite;

    @keyframes typewriter {
      from {
        width: 48px;
      }
      to {
        width: 368px;
      }
    }

    @keyframes cursor {
      from, to {
        border-right-color: rgba(255, 255, 255, 0.75);
      }
      50% {
        border-right-color: transparent;
      }
    }
  }
}

section {
  background: url($baseurl + "/assets/img/triangles.png") bottom right no-repeat;
  box-shadow: inset 0 8px 16px -8px $box-shadow,
    inset 0 -8px 16px -8px $box-shadow;

  &:nth-child(4n) {
    color: $white;
    background: #7b1e7a url($baseurl + "/assets/img/noise.png") no-repeat;
    box-shadow: none;
  }

  &:nth-child(4n+2) {
    color: $white;
    background: #b33f62 url($baseurl + "/assets/img/pixels.png") no-repeat;
    box-shadow: none;
  }
}

section:nth-child(2n), footer {
  a {
    color: shift-color($link-hover-color, -25%);

    &:hover {
      color: shift-color($link-color, -25%);
    }
  }
}

footer {
  padding: 5em;
  color: $white;
  background: #0c0a3e;
  text-align: center;
}

@import "bootstrap/scss/bootstrap";
